
// build:js scripts/vendor.js
// bower:js
script(type="text/javascript" src='bower_components/jquery/dist/jquery.js')
script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.js")
// endbower
// endbuild
// build:js scripts/plugins.js
script(type="text/javascript", src="bower_components/perfect-scrollbar/min/perfect-scrollbar.min.js")
script(type="text/javascript", src="bower_components/jquery-validate/dist/jquery.validate.js")
script(type="text/javascript", src="bower_components/jquery-validate/dist/jquery.validate.bootstrap.js")
script(type="text/javascript", src="scripts/jquery.debounce.js")
// endbuild
// build:js scripts/main.js
script(src='scripts/main.js')
// endbuild